.header a {
	color: blue;
	
}
.header a:visited {
	color: purple;
	
}
.header a:first-child {
	color: black;
	
}
.label_error {
	color: red;
}

p {
	text-indent: 20px;
}

body, html {
	margin: 0px;
	padding: 0px;
}

body {
	background-image: url('qbkls.png');
}

.error {
	color: red;
}

.success {
	color: green;
}

a {
	color: #fcf2fc;
}

a:visited {
	color: #f2e3f2;
}
